.containerReg {
    margin-left: 20%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.box0 {
    position: relative;
    width: 100%;
    border-radius: 10px;    
    padding-bottom: 2rem;
    padding-top: 1rem;
    background-image: radial-gradient(yellow, white);
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #5f5f5f;

}

.box {
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
    padding-top: 1rem;
    padding-right: 4rem;
    padding-left: 2%;
}

.divTitle {
    width: 100%;
    padding: 0;
}

.boxTitle {
    font-weight: bolder;
    text-align: center;
    color: black;
    text-shadow: -1px 0 yellow, 0 1px yellow,  1px 0 yellow, 0 -1px yellow;

}

.label{
    padding: 3px;

}

.input {
    width: 25rem;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.Button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 5px;
    
}

.buttonReg {
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border: 2px solid grey;
    border-style: outset;
    padding: 10px;
}

.buttonReg:hover {
    cursor: pointer;
    border: rgb(36, 36, 36);
    border-style: outset;
    color: yellow;
    background-color: black;
}

.buttonback {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 5px;
    padding-bottom: 15px;
    
}
.backButton {
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border: 2px solid grey;
    border-style: outset;
    padding: 10px;
    text-decoration: none;
}       

.backButton:hover {
    cursor: pointer;
    border: rgb(36, 36, 36);
    border-style: outset;
    color: yellow;
    background-color: black;
}
